// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$shadowItem: 0 3px 3px rgba(0,0,0,.50);
$shadowItemInverse: 0 -3px 3px rgba(0,0,0,.50);
$boxShadow: 0 -20px 20px -20px rgba(0,0,0,.80);
$headlineBG: rgba(255,255,255,0.5);
$hoveredBG: rgba(255,255,255,0.8);
$showingBG: rgba(86,193,236, 0.5);
$subheaderBG: rgba(0,0,0,0.5);
$hoveredSub: rgba(0,0,0,0.8);
$font-size-base: 12px;
$darkBG: #1d1d1d;
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

// Drop shadows
@mixin box-shadow {
  -webkit-box-shadow: $shadowItem;
     -moz-box-shadow: $shadowItem;
          box-shadow: $shadowItem;
}
@mixin header-box-shadow{
  -webkit-box-shadow: inset $boxShadow;
     -moz-box-shadow: inset $boxShadow;
          box-shadow: inset $boxShadow;  
}
@mixin inner-box-shadow{
  -webkit-box-shadow: inset $shadowItem;
   -moz-box-shadow: inset $shadowItem;
        box-shadow: inset $shadowItem;
}
@mixin upper-box-shadow{
  -webkit-box-shadow: $shadowItemInverse;
     -moz-box-shadow: $shadowItemInverse;
          box-shadow: $shadowItemInverse;
}
@mixin clear-shadow{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 890px){
  #main-content #news-posts{
    width: 100% !important;
  }
  .events{
    margin-left: 0 !important;
  }
  #announcement-carousel{
    width: 100% !important
  }
}
@media (max-width: 360px){
  .events{
    width: 100% !important;
  }
}
@media (max-width: 1200px){
  .events{
    margin-left: 0 !important;
    padding-top: 10px;
    overflow: hidden;
  }
}
body{
  background: white;
  text-shadow: 1px 1px 1px #333;
  color: white;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .dropdown-menu>li>a{
  text-decoration: none;
}
.container{
  max-width: 1170px;
}
.navbar-default{
  text-shadow: none;
}
h1, h2, h3, h4, h5{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
#content-container{
  padding-top: 60px;
}
#news-block{
}
#announcement{
  height: 560px;
  width: 800px;
  float: left;
  @include box-shadow;
}
#announcement-carousel{
  width: 800px;
  height: 560px;
  float: left;
  @include box-shadow;
}
.announcement-content{
  position: relative;
  width: 100%;
  max-height: 50%;
  .announcement-content-wrapper{
    position: absolute;
    top: 100px;
    left: 70px;
  }
  .announcement-title{
    background: $headlineBG;
    padding: 5px;
  }
  .announcement-details{
    background: $subheaderBG;
    color: white;
    padding: 5px;
    display: inline-block;
  }
}
.events{
  z-index: 1;
  float:left;
  margin-left: 10px;
}
.event-block{
  height: 180px;
  width: 330px;
  margin-bottom: 10px;
  @include box-shadow;
}
#main-content{
  color: $text-color;
  text-shadow: none;
  padding-top: 10px;
  #news-posts{
    overflow: hidden;
    width: 800px;
  }
  .news-post{
    border: 1px solid #cecece;
    padding: 10px;
    @include box-shadow;
    margin-bottom: 10px;
  }
  .post-title{
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
    h2{
      font-weight: 400;
    }
  }
  .post-text{
    padding-top: 10px;
  }
  .post-details{
    font-size: 10px;
    padding-top: 2px;
  }
}
.event-content{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .event-content-wrapper{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    width: 100%;
    overflow: hidden; 
    background: $subheaderBG;
    max-height: 48px;
  }
  .event-details-top{
    position: relative;
    width: 100%;
    top:0;
    background: $subheaderBG;
    padding: 2px 0 2px 5px;
    transition: top 0.5s;
  }
  .event-title{
    //background: $headlineBG;
  }
  .event-details{
    //background: $subheaderBG;
    color: white;
    display: inline-block;
  }
  &:hover{
    .event-content-wrapper, .event-details-top{
      background: $hoveredSub;
    }
  }
  .event-content-wrapper, .event-details-top{
    transition: background 0.4s;
  }
}

.carousel-control{
  transition: opacity 0.4s;
}