// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$rowheight: 67px;
$shadowItem: 0 3px 3px rgba(0,0,0,.50);
@mixin box-shadow {
  -webkit-box-shadow: $shadowItem;
     -moz-box-shadow: $shadowItem;
          box-shadow: $shadowItem;
}
#showing-schedule{
  overflow: hidden;
  width: 800px;
  float:left;
}
.showing-row{
  height: $rowheight;
  color: white;
  text-shadow: 1px 1px 1px #333;
  position: relative;
  @include box-shadow;
  margin-top: 10px;
  .showing-details{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    height: $rowheight;
    max-height: $rowheight;
    overflow: hidden;
    padding: 5px;
  }
  &:hover{
    .showing-hacks{
      width: 100%;
      transition: width 0.2s;
    }
  }
}
#weeklies{
  .post-title{
    h2{
      font-weight: 300;
    }
  }
}
.weekly-row{
  .title{
    position: absolute;
    bottom: 5px;
  }
}
#weekly-one-thumb{
  width: 49.2%;
  float: left;
}
#weekly-two-thumb{
  width: 49.5%;
  float: right;
}
.detail{
  overflow: hidden;
  max-height: 50px;
}
.showing-thumb{
  height: $rowheight;
}
.showing-wrapper{
  width: 100%;
}
.showing-hacks{
  z-index: 1;
  height: $rowheight;
  width: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  transition: width 3s;
}